/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }

    &:hover {
	text-decoration: none;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $flat-red;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }

    	&:hover {
            color: $flat-black;
            text-decoration: underline;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 18px;
    color: $flat-red;
    text-decoration: none;

    &:visited {
        color: $flat-red;
    }

    &:hover {
        color: $flat-black;
        text-decoration: underline;
    }
}

.post-description {
    display: block;
}

a.link-button {
    display: inline-block;
    text-decoration: none;
    background-color: $flat-white;
    color: $flat-black;
    padding: 3px 6px 3px 6px;

    &:hover {
        background-color: $flat-red;
        color: $text-color-light;
    }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}



/**
 * Pagination
 */
.pagination {
     display:inline-block;
     padding-left:0;
     margin:20px 0;
     border-radius:4px
}

.pagination>li {
     display:inline
}

.pagination>li>a,.pagination>li>span {
     position:relative;
     float:left;
     padding:6px 12px;
     margin-left:-1px;
     line-height:1.428571429;
     text-decoration:none;
     background-color:#fff;
     border:1px solid #ddd
}

.pagination>li:first-child>a,.pagination>li:first-child>span {
     margin-left:0;
     border-bottom-left-radius:4px;
     border-top-left-radius:4px
}

.pagination>li:last-child>a,.pagination>li:last-child>span {
     border-top-right-radius:4px;
     border-bottom-right-radius:4px
}

.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus {
      background-color:#eee
}

.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{
     z-index:2;color:#fff;cursor:default;background-color:#428bca;border-color:#428bca
}

.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus{
     color:#999;
     cursor:not-allowed;
     background-color:#fff;
     border-color:#ddd
}

.pagination-lg>li>a,.pagination-lg>li>span{
      padding:10px 16px;
      font-size:18px
}

.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{
      border-bottom-left-radius:6px;
      border-top-left-radius:6px;
}

.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{
      border-top-right-radius:6px;
      border-bottom-right-radius:6px
}

.pagination-sm>li>a,.pagination-sm>li>span{
      padding:5px 10px;
      font-size:12px
}

.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{
      border-bottom-left-radius:3px;
      border-top-left-radius:3px
}

.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{
      border-top-right-radius:3px;
      border-bottom-right-radius:3px
}



/**
 * Tags
 */
.tag_box {
    list-style: none;
    margin: 0;
    overflow: hidden; 
}

.tag_box li {
    line-height: 28px; 
}

.tag_box li i {
    opacity: 0.9; 
}

.tag_box.inline li {
    float: left; 
}

.tag_box a {
    padding: 3px 6px;
    margin: 2px;
    background: #eee;
    color: #555;
    border-radius: 3px;
    text-decoration: none;
    border: 1px dashed #cccccc; 
}

.tag_box a span {
    vertical-align: super;
    font-size: 0.8em; 
}

.tag_box a:hover {
    background-color: #e5e5e5; 
}

.tag_box a.active {
    background: #57A957;
    border: 1px solid #4c964d;
    color: #FFF; 
}

